
#titulo{
    color: chartreuse;
    font-weight: bold;
}


p.texto{
    color: burlywood;
    font-style: italic;
}

p.especial{
    color: mediumseagreen;
}

div p {
    color: aqua;
}

div h2, div h3{
    color: brown;
}

* {
    font-size: 24px;
    /* color: black; */
}
/* Esto es un comentario */

/*
Esto es un comentario de múltimples líneas
*/

/* Propiedad color con valor hexadecimal de 3 caracteres

.color { color: #CCC;
}

*/

/* Propiedad color con valor hexadecimal de 6 caracteres 

.color {
    color: #CCCCCC;
}

*/

/* Propiedad color con valor RGB */
.color {
    color: rgb(0, 255, 255);
}



.border {
    /* border: 5px outset red; */
    /*
    Estilos de bordes predefinidos

        solid
        dotted
        dashed
        double
        groove
        ridge
        inset
        outset
        none
        hidden
    */
    border-style: solid;
    border-color: purple;
    border-radius: 5px;
    border-width: 3px;

}

#fondo * {
    color: white;
    /* background-color: rgba(255, 0, 0);  */
   /* opacity: 0.3; */
    /* background-image: url(bgTest.jpg); */
    /* background-size: 100px 100px; */
    height: 200px;
    /* background-repeat: repeat-y; */
    /* background-position: 120px;  */


    /* Se puede realizar varias propiedades sobre background*/
    background: #F00 url("bgTest.jpg") repeat-y center bottom / 100px 100px;
    
}

.margen {
    background-color: orange;
    margin: 15px;
    padding: 30px 25px 20px;
    border: 1px solid black;
    height: 150px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid red;
}

.text {
    font-family:"Bungee Spice",Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    text-decoration: underline;
    text-shadow: 3px 2px 5px gray;
}

a:link {
 color: #F00;
}

a:visited {
    color: gray;
}

a:hover {
    color: green;
}

a:active {
    color: aqua;
}

ul {
    background-color: cyan;
    list-style-position: outside;
    list-style-type: circle;
    /* padding-left: 0px; */

}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
}

th {
    background-color: thistle;
    color: white;
    text-align: left;
}

tr:nth-child(odd){
    background-color: bisque;
}


tr:hover {
    background-color: navy;
    color:white;
    cursor: pointer;
}


